# Welcome to qwp!

###############################################################################

: DELAYED = true
# Delay per action in milliseconds.
# Set this to at least 100 or so when playing online.
: DELAY_TIME = 10

# whether to start playing immediately when a new game is started
# unfortunately this doesn't work if the game starts with a -more-
: AUTO_START = true

###############################################################################

# experimental: do second lair rune branch before depths
: EARLY_SECOND_RUNE = false

# experimental: wait to do Orc until after D:15
: LATE_ORC = false

# lair rune preferences, current options are:
# * random - no preference, chooses randomly
# * nowater - does Snake/Spider first
# * smart - currently prefers Spider > Snake/Swamp > Shoals
# * dsmart - Swamp/Spider > Snake > Shoals (DsBe data)
: RUNE_PREFERENCE = "nowater"

# plan for post-V:5, should end with zot
# maximal example: "tso,tomb,hells,pan,slime,abyss,zig,zot"
: ENDGAME_PLAN = "elf,crypt,zot"

# depth to attempt to dive in ziggurats
: ZIG_DIVE = 5

###############################################################################

# burn books with Trog, may theoretically cause navigation problems
: BURN_BOOKS = true

# enable certain somewhat spammy notes
: SPAM = false

# tab just takes a single action (for testing)
: SINGLE_STEP = false
: SINGLE_ATK_STEP = false
: SINGLE_HP_STEP = -100
: SINGLE_LOS_STEP = 1000
: STOP_ON_WIN = false

# panic (stop) at full inventory
: FULL_INVENTORY_PANIC = true

# quit after this number of turns while stuck
: QUIT_TURNS = 1000

###############################################################################

# use a shield at all cost
: SHIELD_CRAZY = true

-- hackety hack hack
: BASE_RISK_SCALE = 1.20
: EARLY_RISK_SCALE = 1.00
: END_RISK_SCALE = 1.00

###############################################################################

# acceptable gods (join whichever one we find first)
# gods who have been at least partially implemented: BCHLMOQRTUXY1
# gods who are actually pretty decent on qw: CMORT
# : GOD_LIST = { "Trog", }
: GOD_LIST = { "Makhleb", }
# use faded altar, abandoning if we don't get one of the gods in GOD_LIST
: FADED_ALTAR = false

# cycle through combos using c_persist.options
: COMBO_CYCLE = false
# combos to cycle through - uses the same syntax as the regular combo option
# with an optional "^<god initials>" suffix to overwrite the GOD_LIST
# list above. Here are some sample choices:
: COMBO_CYCLE_LIST = "DDFi.waraxe^M, DDBe.handaxe^T, GrBe.handaxe^T, GrFi.waraxe^O, MiFi.waraxe^O"

# Choose randomly between these combos. This will not apply if the COMBO_CYCLE
# option was on in your _previous_ game.
# combo = GrBe.handaxe
combo = DDFi.waraxe

###############################################################################

# For random berserkers, use these combos:
#combo = CeBe.handaxe, DDBe.handaxe, DEBe.handaxe, DrBe.handaxe, DsBe.handaxe
#combo += FeBe.claws, FoBe.handaxe, GrBe.handaxe, GhBe.claws, HaBe.falchion
#combo += HEBe.falchion, HOBe.handaxe, HuBe.handaxe, KoBe.mace, MfBe.spear
#combo += MiBe.handaxe, MuBe.handaxe, NaBe.handaxe, OgBe.mace, OpBe.handaxe
#combo += SpBe.shortsword, TeBe.handaxe, TrBe.claws, VSBe.handaxe, VpBe.handaxe

# For a totally random combo (with chosen weapon type), hyperqwcombo.rc can
# be created using hyperqwcombogen.sh and used:
#combo =
#include += hyperqwcombo.rc

## The accomplishments of qw:
# online wins: CeFi^O DDBe DDFi^C DDFi^O DDFi^Q DDFi^Y DDGl^M DDGl^R DrFi^O
#              DsBe FoFi^O GhFi^O GrBe HOBe HuBe MfBe MiBe MiFi^C MiFi^O
#              MiFi^Q MiFi^R MiFi^Y MuFi^O NaBe OgFi^O TeBe TrBe VSBe
# offline wins: HaFi^O HEBe HEFi^O VpBe VpFi^O
# (offline) runes: DgFi FeFi^O KoBe KoFi^O OpBe OpFi^O

#####################################
# enum values :/
: ENUM_MONS_PANDEMONIUM_LORD = 344
: ATT_FRIENDLY = 4
: ATT_NEUTRAL = 1
: ATT_HOSTILE = 0
: LOS = 7
: if you.race() == "Barachi" then
:   LOS = 8
: end

#####################################
# miscellaneous simple options

name = qwp
restart_after_game = true

include += qwp_main.dev.rc
